<div class="screen d-flex justify-content-center align-items-center g-3 flex-wrap bg-dark">
    <div class="col-lg-4 col-md-6 col-12 main-container">
        <router-outlet/>
    </div>
    <div class="col-lg-7 col-md-5 col-12 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="container-button">
          <div class="popover"> 
            "¡Reserva aqui, cabron!"
          </div>
          <button class="btn"><img src="../../assets/image/Logo-3D.png" alt="Logo"></button>
        </div>
      </div>
      <script src="auth.component.js"></script>
    </div>
    
  </div>